*   {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


.content {

    margin-left: 200px;
    margin-right:0px;

    background-color:aquamarine;
}

/*land nav*/
nav {
    margin-left:(180px);
    position: fixed;
    width: 180px;
    height: 100%;
    background: #f1f1f1;
    display: flex;
}
/*list land*/
nav ul {
    width:180px;
    padding-top: 0px;/*ul padding*/
    list-style:none;
}

/*list*/
nav ul  li a {
    width: 100%;
    color: #1e90ff;
    font-size: 20px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 10px;
}

/*contrary color of a list*/
nav ul li a:hover {
    background: #1e90ff;
    color:white;
}

nav ul li a ion-icon{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    transition:linear 0.5s;
}

div.gallery {
    margin: 20px;
    float:left;
    width: 300px;
}
div.desc:hover {
    background-color: red;
}
div.gallery img {
    width:100%;
    height:100%;
    background-size: cover;
}
div.desc {
    padding: 15px;
    background-color:magenta;
    text-align: center;
}
